<h2>Find By Id</h2>
<div style="width: 300px;">
      <form (ngSubmit)="searchCars()">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="number" class="form-control" id="id" required [(ngModel)]="id" name="id">
        </div>
     
        <div class="btn-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
</div>
<br><br>
<div *ngIf="car">
    <div class="card" style="width:400px;">
      <div class="card-body">
          <h5 class="card-title">Id: {{car.id}}</h5><hr>
          <div>
            <label>Model: </label> {{car.model}}
          </div>
          <div>
            <label>Number: </label> {{car.number}}
          </div>
          <div>
            <label>Color: </label> {{car.color}}
          </div>
          <div>
            <label>Purchased Date: </label> {{ car.purchasedDate | date }}
          </div>
      </div>
    </div>
</div>

