<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">CarSale</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="car" class="nav-link" routerLinkActive="active">Cars</a>
          </li>
        <li class="nav-item active">
            <a routerLink="add" class="nav-link" routerLinkActive="active">Add</a>
          </li>
        <li class="nav-item active">
            <a routerLink="findbyid" class="nav-link" routerLinkActive="active">Search</a>  
          </li>
      </ul>
    </div>
  </nav>
<div style="padding:20px;">     
<h1 style="color:blue">Welcome</h1>
<router-outlet></router-outlet>
</div>

